## Original packages:
# wheel
# numpy
# pandas
# lxml
# html5lib
# beautifulsoup4
# pylint
# pytest

## Listed packages:
astroid
attrs
Automat
Babel
bcc
bcrypt
beautifulsoup4
blinker
boto3
botocore
certifi
chardet
click
colorama
configobj
constantly
cryptography
dill
distro
distro-info
git-filter-repo
hibagent
html5lib
httplib2
hyperlink
idna
incremental
iniconfig
isort
Jinja2
jmespath
jsonpatch
jsonpointer
jsonschema
launchpadlib
lazr.restfulclient
lazr.uri
lxml
markdown-it-py
MarkupSafe
mccabe
mdurl
netaddr
netifaces
numpy
oauthlib
packaging
pandas
pexpect
pip
platformdirs
pluggy
ptyprocess
pyasn1
pyasn1-modules
Pygments
PyGObject
PyHamcrest
PyJWT
pylint
pyOpenSSL
pyparsing
pyrsistent
pyserial
pytest
python-apt
python-dateutil
python-debian
python-magic
pytz
PyYAML
requests
rich
s3transfer
service-identity
setuptools
six
sos
soupsieve
ssh-import-id
systemd-python
tomlkit
Twisted
typing_extensions
tzdata
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
webencodings
wheel
zope.interface
